@import 'reset';
@import 'vars';
@import 'mixins';

body {
    background-color: #111;
    // @include text();

    $pad: 50px;

    p {
        color: white;
        font-family: monospace;
        font-size: 24px;
        margin-bottom: $pad;
        text-align: center;
    }

    section {
        padding: $pad;
    }

    .video-list {
        display: flex;
        gap: $pad;
        flex-wrap: wrap;
        justify-content: center;
    }

    video {
        width: 100%;
        max-width: 60vh * (16 / 9);
        max-height: 60vh;
        aspect-ratio: 16 / 9;
    }
}