@import 'reset';
@import 'vars';
@import 'mixins';

body {
    @include text();

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color;
}